<div class="task_card" (click)="cardClick.emit()">
  <div class="task_card__type">
    {{ task().category === 'technical_task' ? 'Technical Task' : 'User Story' }}
  </div>
  <h2 class="task_card__title">{{ task().title }}</h2>
  <p class="task_card__desc">{{ task().description }}</p>

  <div class="task_card__subtasks_wrapper">
    <div class="task_card__progress">
      <div class="task_card__progress_fill" [style.width.%]="progressPercentage()"></div>
    </div>
    <span class="task_card__subtasks_text">
      {{ subtasks().filter((s) => s.isCompleted).length }}/{{ subtasks().length }} Subtasks
    </span>
  </div>

  <div class="task_card__footer">
    <div class="task_card__badges">
      @for (contact of assignedContacts(); track contact.id) {
        <div class="task_card__badge" [style.background-color]="contact.badgeColor">
          {{ contact.firstName.charAt(0) }}{{ contact.lastName.charAt(0) }}
        </div>
      }
    </div>
    <div class="task_card__priority">
      <img [src]="'assets/board/board-card/' + task().priority + '.svg'" alt="priority icon" />
    </div>
  </div>
</div>
