<div class="task_section">
    <h1>Add Task</h1>
    <div class="task_details">
        <section>
            <p>Title<span>*</span></p>
            <input>
            <p>Description</p>
            <input>
            <p>Due date<span>*</span></p>
            <input>
        </section>
        <div class="divider">

        </div>
        <section>
            <p>Priority</p>
            <button>Urgent</button>
            <button>Medium</button>
            <button>Low</button>
            <p>Assigned to</p>
            <input>
            <p>Category<span>*</span></p>
            <input>
            <p>Subtasks</p>
            <input>
        </section>
    </div>
</div>

<div class="task_controls">
    <div>
        <p><span>*</span>This field is required</p>
    </div>
    <div>
        <button>Clear</button>
        <button>Create Task</button>
    </div>
</div>