<section class="add_task_component">
    <section class="add_task_field">
        <h1 class="add_task_field_title">Add Task</h1>
        <div class="add_task_field_details">
            <section class="task_detail_section">
                <label>Title<span>*</span></label>
                <input class="input title_input">
                <label>Description</label>
                <input class="input">
                <label>Due date<span>*</span></label>
                <input class="input">
            </section>
            <div class="divider"></div>
            <section class="task_detail_section">
                <label>Priority</label>
                <div class="priority_button_container">
                    <button>Urgent</button>
                    <button>Medium</button>
                    <button>Low</button>
                </div>
                <label>Assigned to</label>
                <input class="input">
                <label>Category<span>*</span></label>
                <input class="input">
                <label>Subtasks</label>
                <input class="input">
            </section>
        </div>
    </section>

    <div class="task_controls">
        <div>
            <p><span>*</span>This field is required</p>
        </div>
        <div>
            <button>Clear</button>
            <button>Create Task</button>
        </div>
    </div>
</section>