@use 'abstracts/breakpoints' as bp;

.header {
  width: 100%;
  height: var(--layout-header-height);
  background-color: var(--color-bg-light);
  box-shadow: var(--shadow-header);
  font-family: var(--font-primary);

  &__wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px 20px 96px;
  }

  &__title {
    margin: 0;
    color: var(--color-text-main);
    font-size: var(--font-size-md);
    font-weight: 400;
    line-height: var(--line-height-base);
  }

  &__mobile-logo {
    display: none;
  }

  &__actions {
    display: flex;
    width: 104px;
    height: 56px;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
  }

  &__help-link {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;

    img {
      width: 32px;
      height: 32px;
      object-fit: contain;
    }
  }

  &__profile-link {
    display: flex;
    width: 56px;
    height: 56px;
    align-items: center;
    justify-content: center;

    img {
      width: 56px;
      height: 56px;
      object-fit: contain;
    }
  }
}

@media (max-width: bp.$breakpoint-tablet-xl) {
  .header {
    height: var(--layout-mobile-header-height);

    &__wrapper {
      padding: 20px 16px;
    }

    &__title {
      display: none;
    }

    &__mobile-logo {
      display: block;
      width: 32px;
      height: 39px;
      object-fit: contain;
    }

    &__actions {
      width: 40px;
      height: 40px;
    }

    &__help-link {
      display: none;
    }

    &__profile-link {
      width: 40px;
      height: 40px;

      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}

@media (orientation: landscape) and (max-height: bp.$breakpoint-landscape-height-md) and (max-width: bp.$breakpoint-landscape-width-lg) {
  .header {
    height: var(--layout-mobile-landscape-header-height);

    &__wrapper {
      padding: 12px 16px;
    }

    &__mobile-logo {
      width: 28px;
      height: 34px;
    }
  }
}