<section class="header">
  <div class="header__wrapper">
    <p class="header__title">Kanban Project Management Tool</p>

    <img
      class="header__mobile-logo"
      src="assets/sidebar/icons/Capa 3.svg"
      alt="Join logo"
    />

    <div class="header__actions">
      <a class="header__help-link" href="#" aria-label="Open help">
        <img src="assets/sidebar/icons/help_dark.svg" alt="" aria-hidden="true" />
      </a>

      <a class="header__profile-link" href="#" aria-label="Open user menu">
        <img src="assets/sidebar/icons/userprofile.svg" alt="" aria-hidden="true" />
      </a>
    </div>
  </div>
</section>