$breakpoint-mobile-s: 320px;
$breakpoint-mobile-m: 480px;
$breakpoints-mobile-l: 640px;
$breakpoint-tablet-sm: 800px;
$breakpoints-tablet-l: 960px;
$breakpoint-tablet-xl: 1120px;
$breakpoint-desktop-s: 1280px;
$breakpoint-desktop-fhd: 1440px;