@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin page-container {
  width: min(100%, var(--layout-max-width));
  margin: 0 auto;
}

@mixin column-layout {
  display: flex;
  flex-direction: column;
}