:root {
  --color-bg-main: #f6f7f8;
  --color-bg-light: #ffffff;
  --color-primary: #2a3647;
  --color-primary-hover: #29abe2;
  --color-text-main: #000000;
  --color-text-light: #ffffff;
  --color-link: #007cee;

  --font-primary: Arial, sans-serif;
  --layout-max-width: 1440px;

  --button-primary-bg: var(--color-primary);
  --button-primary-bg-hover: var(--color-primary-hover);
  --button-primary-color: var(--color-text-light);
}