<div class="dialog_overlay" [class.dialog_overlay--closing]="isClosing()" (click)="closeDialog()" aria-hidden="true">
    <dialog open class="board_dialog" [class.board_dialog--closing]="isClosing()" (click)="$event.stopPropagation()" aria-modal="true">
        <div class="board_dialog__header">
            <span class="board_dialog__type">User Story</span>
            <button type="button" class="board_dialog__close" (click)="closeDialog()" aria-label="Close dialog">x</button>
        </div>

        <h2 class="board_dialog__title">Kochwelt Page &amp; Recipe Recommender</h2>
        <p class="board_dialog__desc">Build start page with recipe recommendation.</p>

        <div class="board_dialog__meta">
            <span class="board_dialog__label">Due date:</span>
            <span>10/05/2023</span>
        </div>

        <div class="board_dialog__meta">
            <span class="board_dialog__label">Priority:</span>
            <div class="board_dialog__priority">
                <span>Medium</span>
                <img src="assets/board/board-card/medium.svg" alt="priority icon">
            </div>
        </div>

        <div class="board_dialog__section">
            <p class="board_dialog__section_title">Assigned To:</p>
            <div class="board_dialog__assignees">
                <div class="board_dialog__assignee">
                    <span class="board_dialog__badge board_dialog__badge--green">EM</span>
                    <span>Emmanuel Mauer</span>
                </div>
                <div class="board_dialog__assignee">
                    <span class="board_dialog__badge board_dialog__badge--purple">MB</span>
                    <span>Marcel Bauer</span>
                </div>
                <div class="board_dialog__assignee">
                    <span class="board_dialog__badge board_dialog__badge--blue">AM</span>
                    <span>Anton Mayer</span>
                </div>
            </div>
        </div>

        <div class="board_dialog__section">
            <p class="board_dialog__section_title">Subtasks</p>
            <label class="board_dialog__subtask">
                <input class="board_dialog__checkbox" type="checkbox" checked>
                <span>Implement Recipe Recommendation</span>
            </label>
            <label class="board_dialog__subtask">
                <input class="board_dialog__checkbox" type="checkbox">
                <span>Start Page Layout</span>
            </label>
        </div>

        <div class="board_dialog__actions">
            <button type="button" class="board_dialog__action">
                <img class="board_dialog__action_icon" src="assets/board/task-details/delete.svg" alt="" aria-hidden="true">
                <span>Delete</span>
            </button>
            <button type="button" class="board_dialog__action">
                <img class="board_dialog__action_icon" src="assets/board/task-details/edit.svg" alt="" aria-hidden="true">
                <span>Edit</span>
            </button>
        </div>
    </dialog>
</div>
