<section class="sidebar-component">
    <img class="sidebarLogo" src="./assets/sidebar/icons/join-logo.svg">
    <nav class = "navBar">
        <a class="nav-entry"><img class="nav-icon" src="./assets/sidebar/icons/nav-summary-icon.svg">Summary</a>
        <a class="nav-entry"><img class="nav-icon" src="./assets/sidebar/icons/nav-addTask-icon.svg">Add Task</a>
        <a class="nav-entry"><img class="nav-icon" src="./assets/sidebar/icons/nav-board-icon.svg">Board</a>
        <a class="nav-entry"><img class="nav-icon" src="./assets/sidebar/icons/nav-contacts-icon.svg">Contacts</a>
    </nav>
    <article>

    </article>
</section>