<section class="contacts-page">
  <app-sidebar></app-sidebar>

  <div class="right-wrapper">
    <app-header></app-header>

    <div class="contacts_inner">
      <div class="content-wrapper">
        <app-contact-list
          (createContactRequested)="openCreateDialog()"
        ></app-contact-list>

        <app-contact-detail
          (editContactRequested)="openEditDialog($event)"
        ></app-contact-detail>
      </div>
    </div>

    @if (isCreateDialogOpen()) {
      <app-contact-create-dialog
        (cancelled)="closeCreateDialog()"
        (submitted)="createContact($event)"
      ></app-contact-create-dialog>
    }

    @if (isEditDialogOpen() && selectedContact()) {
      <app-contact-edit-dialog
        [contact]="selectedContact()!"
        (cancelled)="closeEditDialog()"
        (submitted)="updateContact($event)"
        (deleted)="deleteContact($event)"
      ></app-contact-edit-dialog>
    }

    @if (successMessage()) {
      <app-contact-success-overlay
        [message]="successMessage()"
      ></app-contact-success-overlay>
    }
  </div>
</section>